---
---

@import "{{ site.theme }}";

body {
  background-color: #fff;
  padding:50px;
  font: 14px/1.5 "Monserat", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#000;
  font-weight:400;
}

h1, h2, h3, h4, h5 {
  color:#222;
  margin:0 0 20px;
}

h6 {
  color:#A9A9A9;
  margin:0 0 20px;
}

p, ul, ol, table, pre, dl {
  margin:0 0 20px;
}

h1, h2, h3 {
  line-height:1.1;
}

h1 {
  font-size:28px;
}

a {
  color:#267CB9;
  text-decoration:none;
}

a:hover, a:focus {
  color:#069;
  font-weight: bold;
}

a small {
  font-size:11px;
  color:#777;
  margin-top:-0.3em;
  display:block;
}

a:hover small {
  color:#777;
}
