---
---

@import "{{ site.theme }}";  

body {
  background-image: url("https://cdn1.vectorstock.com/i/1000x1000/66/20/abstract-triangular-colorful-mosaic-background-vector-16436620.jpg");
}

* {
 font-size: 100%;
 font-family: 'Montserrat', sans-serif;
}
